* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}
html {
  scroll-behavior: smooth;
}
button{
    transition:.3s;
}

button:hover{
    transform:translateY(-2px);
}